html {
  font-size: 62.5%;
}

body {
  background-color: rgba(236, 214, 236, 0.74);
}

header {
  width: 100%;
}

nav {
  width: 100%;
}

.logo-container {
  width: 100%;
  text-align: center;
}

.logo {
  display: inline-block;
  color: darkolivegreen;
  font-size: 5rem;
}

.list__container {
  width: 100%;
  text-align: center;
}

.list__item {
  display: inline-block;
  list-style: none;
  margin-right: 1rem;
  font-size: 2rem;
}

.image {
  width: 100%;
  margin-top: 2rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: goldenrod;
}

p {
  font-size: 1.6rem;
  color: darkgray;
}

.title-second {
  font-size: 2.5rem;
  color: darkmagenta;
}

.list-container {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.price {
  font-weight: bold;
  color: midnightblue;
}

footer {
  background-color: palevioletred;
  padding: 1rem;
  text-align: center;
}

address {
  font-size: 1.6rem;
}
